<a href="https://colab.research.google.com/github/kgd1020/varios_objetos/blob/main/estagio_sprint_8_tarefa_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ***ESTÁGIO SPRINT-8 TAREFA-1***

### Importar bibliotecas do Python

In [ ]:
import requests
import pandas as pd
from IPython.display import display

### Colocar a chave da API, fazer a solicitação à API e converter o resultado para o formato JSON

In [ ]:
api_key = 'a6a0bff82f76a1d27a7f41e8b71b56db'
url = f"https://api.themoviedb.org/3/movie/top_rated?api_key={api_key}&language=pt-BR"
response = requests.get(url)  # Faz uma solicitação GET à URL da API
data = response.json()

### Criar uma lista vazia para armazenar os detalhes dos filmes

In [ ]:
filmes = []

### Iterar sobre os filmes nos resultados obtidos, criar um dicionário com os detalhes do filme atual e exibir o DataFrame

In [ ]:
for movie in data['results']:
  df = {'Titulo': movie['title'],
  'Data de lançamento': movie['release_date'],
  'Visão geral': movie['overview'],
  'Votos': movie['vote_count'],
  'Média de votos:': movie['vote_average']}

  filmes.append(df)

df = pd.DataFrame(filmes)
display(df)

,Titulo,Data de lançamento,Visão geral,Votos,Média de votos:,Titulo,Titulo
0,O Poderoso Chefão,1972-03-14,"Em 1945, Don Corleone é o chefe de uma mafiosa...",18121,8.7,NaN,NaN
1,Um Sonho de Liberdade,1994-09-23,"Em 1946, Andy Dufresne, um banqueiro jovem e b...",23993,8.7,NaN,NaN
2,Homem-Aranha: Através do Aranhaverso,2023-05-31,Miles Morales retorna para o próximo capítulo ...,1614,8.7,NaN,NaN
3,O Poderoso Chefão: Parte II,1974-12-20,"Após a máfia matar sua família, o jovem Vito f...",10936,8.6,NaN,NaN
4,A Lista de Schindler,1993-12-15,O alemão Oskar Schindler viu na mão de obra ju...,14188,8.6,NaN,NaN
...,...,...,...,...,...,...,...
75,Três Homens em Conflito,1966-12-23,"Durante o auge da Guerra Civil, um misterioso ...",7470,8.5,NaN,NaN
76,O Senhor dos Anéis: O Retorno do Rei,2003-12-01,O confronto final entre as forças do bem e do ...,21746,8.5,NaN,NaN
77,Os Bons Companheiros,1990-09-12,Um jovem cresce na máfia e trabalha arduamente...,11363,8.5,NaN,NaN
78,Primal: Tales of Savagery,2019-11-21,,267,8.5,NaN,NaN
79,Cinema Paradiso,1988-11-17,"Um diretor de cinema lembra como, em sua infân...",3793,8.5,NaN,NaN