<a href="https://colab.research.google.com/github/kgd1020/varios_objetos/blob/main/Estagio_Sprint_8_Tarefa_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ***ESTÁGIO SPRINT-8 TAREFA-4***

### Instalar o PYSPARK no Google Colab

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=fb81323354079e7d3aa053178fd244ffe5b3f9e01fc1e477e58436a70243ac17
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

### Importações de bibliotecas no Python

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from google.colab import files
from pyspark.sql.types import StringType

### Fazer upload do arquivo 'nomes_aleatorios.txt' para o Google Colabb

In [4]:
uploaded = files.upload()

Saving nomes_aleatorios.txt to nomes_aleatorios.txt

### Criar a Spark Session

In [6]:
spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()

### Ler o conteúdo do arquivo "nomes_aleatorios.txt" e exibir as cinco primeiras linhas em um formato tabular

In [7]:
df_nomes = spark.read.text(list(uploaded.keys())[0])
df_nomes = df_nomes.withColumn("Nomes", split(col("value"), "\n").getItem(0))
df_nomes = df_nomes.drop("value")
df_nomes.show(5)

+----------------+
|           Nomes|
+----------------+
|  Frances Bennet|
|   Jamie Russell|
|  Edward Kistler|
|   Sheila Maurer|
|Donald Golightly|
+----------------+
only showing top 5 rows

###  Visualizar o Schema.

In [8]:
df_nomes.printSchema()

root
 |-- Nomes: string (nullable = true)

### Adicionar nova coluna chamada Escolaridade e atribuir para cada linha um dos três valores de forma aleatória: Fundamental, Medio ou Superior

In [9]:
df_nomes = df_nomes.withColumn("Escolaridade", when(rand() < 1/3, "Fundamental")
                           .when(rand() < 2/3, "Medio")
                           .otherwise("Superior"))

### Exibe as primeiras 10 linhas do DataFrame 'df_nomes'com a coluna Escolaridade adicionada

In [10]:
df_nomes.show(10)

+-----------------+------------+
|            Nomes|Escolaridade|
+-----------------+------------+
|   Frances Bennet| Fundamental|
|    Jamie Russell|    Superior|
|   Edward Kistler|       Medio|
|    Sheila Maurer| Fundamental|
| Donald Golightly| Fundamental|
|       David Gray|       Medio|
|      Joy Bennett|    Superior|
|      Paul Kriese| Fundamental|
|Berniece Ornellas|       Medio|
|    Brian Farrell|       Medio|
+-----------------+------------+
only showing top 10 rows

### Criar uma lista de países a america do sul

In [12]:
paises_am_sul = ["Brasil", "Argentina", "Colômbia", "Peru", "Venezuela", "Chile", "Equador", "Bolívia", "Paraguai", "Uruguai", "Guiana", "Suriname", "Guiana Francesa"]

In [13]:
df_nomes = df_nomes.withColumn("Pais", when(rand() < 1/13, paises_am_sul[0])
                                    .when(rand() < 2/13, paises_am_sul[1])
                                    .when(rand() < 3/13, paises_am_sul[2])
                                    .when(rand() < 4/13, paises_am_sul[3])
                                    .when(rand() < 5/13, paises_am_sul[4])
                                    .when(rand() < 6/13, paises_am_sul[5])
                                    .when(rand() < 7/13, paises_am_sul[6])
                                    .when(rand() < 8/13, paises_am_sul[7])
                                    .when(rand() < 9/13, paises_am_sul[8])
                                    .when(rand() < 10/13, paises_am_sul[9])
                                    .when(rand() < 11/13, paises_am_sul[10])
                                    .when(rand() < 12/13, paises_am_sul[11])
                                    .otherwise(paises_am_sul[12]))

In [14]:
df_nomes.show(10)

+-----------------+------------+---------+
|            Nomes|Escolaridade|     Pais|
+-----------------+------------+---------+
|   Frances Bennet| Fundamental| Colômbia|
|    Jamie Russell|    Superior|     Peru|
|   Edward Kistler|       Medio|Argentina|
|    Sheila Maurer| Fundamental|     Peru|
| Donald Golightly| Fundamental| Paraguai|
|       David Gray|       Medio|Argentina|
|      Joy Bennett|    Superior|  Equador|
|      Paul Kriese| Fundamental| Colômbia|
|Berniece Ornellas|       Medio|Argentina|
|    Brian Farrell|       Medio|  Equador|
+-----------------+------------+---------+
only showing top 10 rows

### Adicionar nova coluna chamada AnoNascimento e atribuir para cada linha um valor de ano entre 1945 e 2010, de forma aleatória

In [15]:
df_nomes = df_nomes.withColumn("AnoNascimento", (rand()*(2010-1945)+1945).cast("integer"))

### Exibir as 10 primeiras linhas do DataFrame 'df_nomes' com a coluna AnoNascimento adicionada

In [17]:
df_nomes.show(10)

+-----------------+------------+---------+-------------+
|            Nomes|Escolaridade|     Pais|AnoNascimento|
+-----------------+------------+---------+-------------+
|   Frances Bennet| Fundamental| Colômbia|         1960|
|    Jamie Russell|    Superior|     Peru|         1972|
|   Edward Kistler|       Medio|Argentina|         2005|
|    Sheila Maurer| Fundamental|     Peru|         1976|
| Donald Golightly| Fundamental| Paraguai|         1958|
|       David Gray|       Medio|Argentina|         1979|
|      Joy Bennett|    Superior|  Equador|         1996|
|      Paul Kriese| Fundamental| Colômbia|         1950|
|Berniece Ornellas|       Medio|Argentina|         1964|
|    Brian Farrell|       Medio|  Equador|         1987|
+-----------------+------------+---------+-------------+
only showing top 10 rows

### Selecionar as pessoas que nasceram neste século, usando o método select do dataframe 'df_nomes'

In [20]:
df_select = df_nomes.filter(df_nomes["AnoNascimento"] >= 2001)

### Exibir 10 nomes de pessoas que nasceram neste século,  usando o método select do dataframe 'df_nomes'

In [21]:
df_select.show(10)

+---------------+------------+---------+-------------+
|          Nomes|Escolaridade|     Pais|AnoNascimento|
+---------------+------------+---------+-------------+
| Edward Kistler|       Medio|Argentina|         2005|
| Lorenzo Woodis| Fundamental|     Peru|         2001|
|     Anita Ross|       Medio|Venezuela|         2005|
| Rosie Lovelady|       Medio|  Equador|         2006|
| Ashley Trosper|       Medio|Argentina|         2001|
|Suzanne Bullard|    Superior|  Bolívia|         2005|
|    Shelia Ceja|       Medio|  Equador|         2006|
|    Andrew Orem|    Superior|     Peru|         2008|
|    Leola Hicks|       Medio|     Peru|         2004|
|   Barbra Young| Fundamental|     Peru|         2007|
+---------------+------------+---------+-------------+
only showing top 10 rows

### Criar uma tabela temporária chamada 'pessoas'

In [26]:
df_nomes.createOrReplaceTempView ("pessoas")

### Selecionar e exibir 10 nomes de pessoas que nasceram neste século, usando Spark SQL e uma tabela temporária ('pessoas') que criamos

In [27]:
spark.sql("SELECT * FROM pessoas WHERE AnoNascimento > 2000").show(10)

+---------------+------------+---------+-------------+
|          Nomes|Escolaridade|     Pais|AnoNascimento|
+---------------+------------+---------+-------------+
| Edward Kistler|       Medio|Argentina|         2005|
| Lorenzo Woodis| Fundamental|     Peru|         2001|
|     Anita Ross|       Medio|Venezuela|         2005|
| Rosie Lovelady|       Medio|  Equador|         2006|
| Ashley Trosper|       Medio|Argentina|         2001|
|Suzanne Bullard|    Superior|  Bolívia|         2005|
|    Shelia Ceja|       Medio|  Equador|         2006|
|    Andrew Orem|    Superior|     Peru|         2008|
|    Leola Hicks|       Medio|     Peru|         2004|
|   Barbra Young| Fundamental|     Peru|         2007|
+---------------+------------+---------+-------------+
only showing top 10 rows

###  Contar o número de pessoas que são da geração Millennials (nascidos entre 1980 e 1994) no Dataset, Usando o método select do Dataframe 'df_nomes'

In [28]:
df_nomes = df_nomes.withColumn("AnoNascimento", to_date(df_nomes["AnoNascimento"].cast("string"), "yyyy"))

In [29]:
df_millennials = df_nomes.select("Nomes").filter(year("AnoNascimento").between(1980, 1994))

In [30]:
count_millennials = df_millennials.count()

In [31]:
print("Número de pessoas na geração Millennials:", count_millennials)

Número de pessoas na geração Millennials: 2308693

###  Contar o número de pessoas que são da geração Millennials (nascidos entre 1980 e 1994) no Dataset, utilizando Spark SQL

In [34]:
df_nomes.createOrReplaceTempView("pessoas_millennials")

In [37]:
query = """
    SELECT COUNT(*) AS count_millennials
    FROM pessoas_millennials
    WHERE YEAR(AnoNascimento) BETWEEN 1980 AND 1994
"""

In [38]:
result = spark.sql(query)

In [39]:
count_millennials = result.first()[0]

In [40]:
print("Número de pessoas na geração Millennials:", count_millennials)

Número de pessoas na geração Millennials: 2308693

### Usando Spark SQL, obter a quantidade de pessoas de cada país para uma das gerações abaixo. Mostrar todas as linhas em ordem crescente de Pais, Geração e Quantidade
  - Baby Boomer - nascidos entre 1944 e 1964
  - Geração X - nascidos entre 1965 e 1979
  - Millennials (Geração Y) - nascidos entre 1980 e 1994
  - Geração Z - nascidos entre 1995 e 2015

In [41]:
df_nomes.createOrReplaceTempView("geracoes")

In [43]:
query = """
    SELECT Pais,
           CASE
               WHEN YEAR(AnoNascimento) BETWEEN 1944 AND 1964 THEN 'Baby Boomers'
               WHEN YEAR(AnoNascimento) BETWEEN 1965 AND 1979 THEN 'Geracao X'
               WHEN YEAR(AnoNascimento) BETWEEN 1980 AND 1994 THEN 'Millennials'
               WHEN YEAR(AnoNascimento) BETWEEN 1995 AND 2015 THEN 'Geracao Z'
           END AS Geracao,
           COUNT(*) AS Quantidade
    FROM geracoes
    GROUP BY Pais, Geracao
    ORDER BY Pais, Geracao
"""

In [44]:
df_result = spark.sql(query)

In [45]:
df_result.show(df_result.count(), truncate=False)

+---------------+------------+----------+
|Pais           |Geracao     |Quantidade|
+---------------+------------+----------+
|Argentina      |Baby Boomers|436932    |
|Argentina      |Geracao X   |328645    |
|Argentina      |Geracao Z   |326622    |
|Argentina      |Millennials |328182    |
|Bolívia        |Baby Boomers|120044    |
|Bolívia        |Geracao X   |90212     |
|Bolívia        |Geracao Z   |90476     |
|Bolívia        |Millennials |90511     |
|Brasil         |Baby Boomers|237172    |
|Brasil         |Geracao X   |177764    |
|Brasil         |Geracao Z   |177457    |
|Brasil         |Millennials |178060    |
|Chile          |Baby Boomers|364779    |
|Chile          |Geracao X   |272476    |
|Chile          |Geracao Z   |272255    |
|Chile          |Millennials |273432    |
|Colômbia       |Baby Boomers|555396    |
|Colômbia       |Geracao X   |415366    |
|Colômbia       |Geracao Z   |415060    |
|Colômbia       |Millennials |415369    |
|Equador        |Baby Boomers|227970    |
|Equador        |Geracao X   |170712    |
|Equador        |Geracao Z   |171435    |
|Equador        |Millennials |171096    |
|Guiana         |Baby Boomers|4453      |
|Guiana         |Geracao X   |3490      |
|Guiana         |Geracao Z   |3354      |
|Guiana         |Millennials |3443      |
|Guiana Francesa|Baby Boomers|71        |
|Guiana Francesa|Geracao X   |48        |
|Guiana Francesa|Geracao Z   |47        |
|Guiana Francesa|Millennials |59        |
|Paraguai       |Baby Boomers|52053     |
|Paraguai       |Geracao X   |39106     |
|Paraguai       |Geracao Z   |39196     |
|Paraguai       |Millennials |38956     |
|Peru           |Baby Boomers|568691    |
|Peru           |Geracao X   |426577    |
|Peru           |Geracao Z   |427817    |
|Peru           |Millennials |426543    |
|Suriname       |Baby Boomers|747       |
|Suriname       |Geracao X   |522       |
|Suriname       |Geracao Z   |551       |
|Suriname       |Millennials |563       |
|Uruguai        |Baby Boomers|17522     |
|Uruguai        |Geracao X   |13371     |
|Uruguai        |Geracao Z   |13387     |
|Uruguai        |Millennials |13262     |
|Venezuela      |Baby Boomers|491777    |
|Venezuela      |Geracao X   |368282    |
|Venezuela      |Geracao Z   |369472    |
|Venezuela      |Millennials |369217    |
+---------------+------------+----------+